.app-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 17% 83%;
  /* box-sizing: border-box; */
  overflow: hidden;
}

.app-layout-right-panel {
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: column;

  padding: 10px;
  height: 100%;
}

.app-main-content {
  display: block;
  flex-grow: 1;
  padding-top: 20px;
  /* height: 40%; */
  /* background-color: antiquewhite; */
}
