<div class="content-top">
  <div class="content-top-left">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="content-body">
  <div class="dashboard-row">
    <div class="dashboard-card fw-600 text-light-gray">
      <h4>Copras Stocks</h4>
      <div class="count-wrapper">
        <p class="count-data">{{ countData?.stockCount }}</p>
      </div>
    </div>
    <div class="dashboard-card fw-600 text-light-gray">
      <h4>No. of Transactions</h4>
      <div class="count-wrapper">
        <p class="count-data">{{ countData?.transactionCount }}</p>
        <p>(current month)</p>
      </div>
    </div>
    <div class="dashboard-card fw-600 text-light-gray">
      <h4>No. of Suppliers</h4>
      <div class="count-wrapper">
        <p class="count-data">{{ countData?.supplierCount }}</p>
      </div>
    </div>
    <div class="dashboard-card fw-600 text-light-gray">
      <h4>No. of Customers</h4>
      <div class="count-wrapper">
        <p class="count-data">{{ countData?.customerCount }}</p>
      </div>
    </div>
  </div>

  <h4 class="fw-600 mb-1 text-light-gray">Transactions per Month</h4>
  <div class="dashboard-analytics-wrapper">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [dataLabels]="chartOptions.dataLabels!"
        [plotOptions]="chartOptions.plotOptions!"
        [yaxis]="chartOptions.yaxis!"
        [legend]="chartOptions.legend!"
        [fill]="chartOptions.fill!"
        [stroke]="chartOptions.stroke!"
        [tooltip]="chartOptions.tooltip!"
        [xaxis]="chartOptions.xaxis!"
      ></apx-chart>
    </div>
  </div>
</div>
