<div class="app-side-nav">
  <h4 class="logo">DV Crop Trading</h4>
  <div class="nav-links">
    <a
      routerLink="/"
      routerLinkActive="active-nav-links"
      [routerLinkActiveOptions]="{ exact: true }"
      >Dashboard</a
    >
    <a
      routerLink="/transactions"
      routerLinkActive="active-nav-links"
      [routerLinkActiveOptions]="{ exact: true }"
      >Transactions</a
    >
    <a
      routerLink="/customers"
      routerLinkActive="active-nav-links"
      [routerLinkActiveOptions]="{ exact: true }"
      >Customers</a
    >
    <a
      routerLink="/suppliers"
      routerLinkActive="active-nav-links"
      [routerLinkActiveOptions]="{ exact: true }"
      >Suppliers</a
    >
  </div>
</div>
