<div class="content-top">
  <div class="content-top-left">
    <a routerLink="/" class="back-btn"
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="keyboard_backspace"
        class="custom-icon-size"
      ></mat-icon
    ></a>

    <h2>Transactions</h2>
  </div>

  <div class="content-top-right">
    <button [matMenuTriggerFor]="menu" class="btn btn-primary btn-sm">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
      ></mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <a routerLink="/new-incoming" mat-menu-item>Incoming Transaction</a>
      <a routerLink="/" mat-menu-item>Outgoing Transaction</a>
    </mat-menu>
  </div>
</div>

<div *ngIf="isLoading" class="text-center fw-600"><h3>Loading...</h3></div>
<div *ngIf="errorMessage !== ''" class="text-center fw-600">
  <h1>{{ errorMessage }}</h1>
</div>

<div class="transaction-wrapper" *ngIf="transactionList.length !== 0">
  <div class="transaction-body">
    <div
      *ngFor="
        let monthlyTransaction of groupedTransactions.transactionPerMonth;
        index as i
      "
      class="mb-3"
    >
      <div class="month-header">
        <h2 class="month-spacing">{{ monthlyTransaction.month }}</h2>
      </div>

      <div
        class="transaction-list"
        *ngFor="let weeklyTransaction of monthlyTransaction.transactionPerWeek"
      >
        <div
          class="transaction-card"
          *ngIf="weeklyTransaction.transactions.length !== 0"
        >
          <h3 class="mb-1">Week {{ weeklyTransaction.week }}</h3>
          <div class="table-head">
            <p>Customer</p>
            <p class="text-center">Date</p>
            <p class="text-center">Net Weight</p>
            <p class="text-center">Moisture (%)</p>
            <p class="text-center">Meter Kgs.</p>
            <p class="text-center">Net Resecada</p>
            <p class="text-center">Price/kg</p>
            <p class="text-center">Amount</p>
            <p class="text-center">No of Sacks</p>
            <p class="text-center">Type</p>
          </div>

          <div
            class="table-row"
            *ngFor="let transaction of weeklyTransaction.transactions"
          >
            <p>{{ transaction.supplier }}</p>
            <p class="text-center">{{ transaction.date | date }}</p>
            <p class="text-center">{{ transaction.netWeight }}</p>
            <p class="text-center">{{ transaction.moisture }}</p>
            <p class="text-center">{{ transaction.meterKgs }}</p>
            <p class="text-center">{{ transaction.netResecada }}</p>
            <p class="text-center">
              {{ transaction.pricePerKg | currency : "Php " }}
            </p>
            <p class="text-center fw-600">
              {{ transaction.amount | currency : "Php " }}
            </p>
            <p class="text-center">{{ transaction.noOfSacks }}</p>
            <div class="flex">
              <div
                class="text-center text-sm p-1"
                [class]="
                  transaction.type == 'incoming' ? 'incoming' : 'outgoing'
                "
              ></div>
            </div>
          </div>

          <div class="transaction-summary">
            <div class="transaction-computation">
              <div class="fw-600">Total Capital:</div>
              <div class="text-end">
                {{
                  getTotalCapital(weeklyTransaction.transactions)
                    | currency : " Php "
                }}
              </div>
            </div>
            <div class="transaction-computation">
              <div class="fw-600">Total Revenue:</div>

              <div class="text-end">
                {{
                  getTotalRevenues(weeklyTransaction.transactions)
                    | currency : " Php "
                }}
              </div>
            </div>

            <div class="transaction-computation">
              <div class="fw-600">ROI:</div>
              <div class="text-end">
                {{
                  getReturnOfInvestment(weeklyTransaction.transactions)
                    | currency : " Php "
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
