<div>
  <div class="content-top">
    <a routerLink="/transactions" class="back-btn"
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="keyboard_backspace"
        class="custom-icon-size"
      ></mat-icon
    ></a>

    <h2>New Outgoing Copras</h2>
  </div>

  <div class="content-body">
    <div class="form-wrapper">
      <form [formGroup]="addOutgoingTransactionForm" (ngSubmit)="onSubmit()">
        <div class="grid-col-2 gap-2">
          <div class="form-group">
            <label for="date">Date:</label>
            <input
              type="date"
              name="date"
              class="form-control"
              formControlName="date"
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('date')?.valid &&
                (addOutgoingTransactionForm.get('date')?.touched || isSubmitted)
              "
              class="error-block"
            >
              Please provide the date of transaction
            </div>
          </div>

          <div></div>
        </div>

        <div class="grid-col-2 gap-2">
          <div class="form-group">
            <label for="customerName"
              ><span class="text-required">*</span>Customer</label
            >

            <select
              class="form-control"
              name="customerName"
              id="customerName"
              formControlName="customerName"
            >
              <option value="null">--- Select ---</option>
              <option *ngFor="let customer of customers" [value]="customer.id">
                {{ customer.name }}
              </option>
            </select>

            <div
              *ngIf="
                !addOutgoingTransactionForm.get('customerName')?.valid &&
                (addOutgoingTransactionForm.get('customerName')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Please provide the customer name
            </div>
          </div>
        </div>

        <div class="grid-col-2 gap-2">
          <div class="form-group">
            <label for="netWeight">Net Weight:</label>
            <input
              type="number"
              name="netWeight"
              class="form-control"
              formControlName="netWeight"
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('netWeight')?.valid &&
                (addOutgoingTransactionForm.get('netWeight')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Please provide the Net Weight
            </div>
          </div>

          <div class="form-group">
            <label for="moisture">Moisture</label>
            <input
              type="number"
              name="moisture"
              class="form-control"
              formControlName="moisture"
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('moisture')?.valid &&
                (addOutgoingTransactionForm.get('moisture')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Please provide the moisture value
            </div>
          </div>
        </div>

        <div class="grid-col-2 gap-2">
          <div class="form-group">
            <label for="meterKgs">Meter Kg:</label>
            <input
              type="number"
              name="meterKgs"
              class="form-control"
              formControlName="meterKgs"
              readonly
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('meterKgs')?.valid &&
                (addOutgoingTransactionForm.get('meterKgs')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Meter kgs. must have a value
            </div>
          </div>

          <div class="form-group">
            <label for="noOfSacks">No of Sacks</label>
            <input
              type="number"
              name="noOfSacks"
              class="form-control"
              formControlName="noOfSacks"
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('noOfSacks')?.valid &&
                (addOutgoingTransactionForm.get('noOfSacks')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Please provide the No. of Sacks
            </div>
          </div>
        </div>

        <div class="grid-col-2 gap-2">
          <div class="form-group">
            <label for="netResecada">Net Resecada</label>
            <input
              type="number"
              name="netResecada"
              class="form-control"
              formControlName="netResecada"
              readonly
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('netResecada')?.valid &&
                (addOutgoingTransactionForm.get('netResecada')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Net Resecada must have a value
            </div>
          </div>

          <div class="form-group">
            <label for="pricePerKg">Price per Kg:</label>
            <input
              type="number"
              name="pricePerKg"
              class="form-control"
              formControlName="pricePerKg"
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('pricePerKg')?.valid &&
                (addOutgoingTransactionForm.get('pricePerKg')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Please provide the price
            </div>
          </div>
        </div>

        <div class="grid-col-2 gap-2">
          <div class="form-group">
            <label for="expenses">Expenses:</label>
            <input
              type="number"
              name="expenses"
              class="form-control"
              formControlName="expenses"
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('expenses')?.valid &&
                (addOutgoingTransactionForm.get('expenses')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Expenses must have a value
            </div>
          </div>

          <div class="form-group">
            <label for="amount">Amount:</label>
            <input
              type="number"
              name="amount"
              class="form-control"
              formControlName="amount"
              readonly
            />
            <div
              *ngIf="
                !addOutgoingTransactionForm.get('amount')?.valid &&
                (addOutgoingTransactionForm.get('amount')?.touched ||
                  isSubmitted)
              "
              class="error-block"
            >
              Amount must have a value
            </div>
          </div>
        </div>

        <div class="submit-wrapper">
          <button class="btn submit-btn" type="submit">Add Transaction</button>
        </div>
      </form>
    </div>
  </div>
</div>
