@import "@angular/material/prebuilt-themes/azure-blue.css";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --bg-primary: #0f172a;
  --bg-secondary: #e2e8f0;
  --bg-medium-dark: #1e293b;
  --bg-light: #f8fafc;
  --text-dark: #1f2937;
  --text-light: #f9fafb;
  --success: #12c99b;
  --bg-red: #991b1b;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #1f2937;
  background: #f3f4f6;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #1f2937;
}

/* Utils */

.btn {
  cursor: pointer;
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  display: inline;
  letter-spacing: 1.1px;
  background: #e2e8f0;
  font-size: 16px;
  font-weight: 500;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:hover {
  opacity: 0.9;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #1e293b;

  color: #fff;
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #1e293b;
  color: #1e293b;
  font-weight: 500;
}

.btn-outline-primary:hover {
  background-color: #1e293b;
  color: #fff;
}

.btn-outline-delete {
  background-color: transparent;
  border: 1px solid #dc2626;
  color: #dc2626;
  font-weight: 400;
}

.btn-outline-delete:hover {
  background-color: #dc2626;
  color: #fff;
}

/* btn sizes */
.btn-sm {
  padding: 6px 12px;
  font-size: 14px;
}

/* Font-weight */
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}

/* Alignment */
.text-center {
  text-align: center;
}

/* Text Colors */
.text-light-gray {
  color: #4b5563;
}

/* Grids */
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gap-2 {
  gap: 20px;
}

/* Flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Forms */
label {
  margin-bottom: 3px;
  color: #1f2937;
}

.text-required {
  color: red;
}

.form-group label,
.form-group input,
.form-group select {
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 38px;
}

.form-control {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.ng-invalid.ng-touched {
  border-color: #c32323;
}

.error-block {
  color: #c32323;
  font-size: small;
  margin-top: 5px;
}

/* margins */
.my-1 {
  margin: 10px 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 32px;
}

/* paddings */
.p-1 {
  padding: 3px;
}

/* Alerts */
.success-alert {
  --mdc-snackbar-container-color: #12c99b !important;
  --mdc-text-button-label-text-color: #fff !important;
}
