@import '@angular/material/prebuilt-themes/azure-blue.css';
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    height: 100%;
  }
  
  :root{
      --bg-primary: #0f172a,
      --bg-secondary: #e2e8f0,
      --bg-medium-dark: #1e293b,
      --bg-light: #f8fafc,
      --text-dark: #1f2937,
      --text-light: #f9fafb,
      --bg-red: #991b1b
  }

  body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #1f2937;
    background: #f3f4f6;
    height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: #1f2937
  }
  
/* Utils */

.btn{
  cursor: pointer;
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  display: inline;
  letter-spacing: 1.1px;
  background: #e2e8f0;
  font-size: 16px;
  font-weight: 500;
}

.btn:disabled{
  cursor:not-allowed;
}

.btn:hover{
  opacity: 0.9;
}

.text-center{
  text-align: center;
}

/* Grids */
.grid-col-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.gap-2{
  gap: 20px;
}


/* Forms */

label{
  margin-bottom: 3px;
  color: #1f2937;
}

.text-required{
  color:red
}

label, input{
  display: block;
}


.form-group{  
  margin-bottom: 38px;
}

.form-control{
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.ng-invalid.ng-touched{
  border-color: #c32323;
}

.error-block{
  color: #c32323;
  font-size: small;
  margin-top: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
